<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.28.3" manuallyInstalled="true" />
  <package id="Grpc.Core" version="2.46.6" manuallyInstalled="true" />
  <package id="Grpc.Core.Api" version="2.46.6" />
  <package id="Grpc.Tools" version="2.67.0" manuallyInstalled="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" />
</packages>